*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../../asset/images/All/arrière_plan.png);
    color: $white;
    margin:  1rem 0 !important;
}
a{
    text-decoration: none;
    color: $white;
}
@include md{
    body{
        margin: 1rem !important;
    }
}